@import './../../styles/themes.scss';

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}
