@import './../../styles/themes.scss';

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.App-login {
  @include themify($themes) {
    border: 1px dashed themed('textColorDim')
  }
  width: 8em;
  padding: 1em;
  margin: 2.5em auto 0 auto;
  border-radius: 24px;
}
