$smallfont: 0.75em;

$themes: (
  dark: (
    backgroundColor: #292727,
    backgroundColorAccent: #242323,
    textColor: #ffffff,
    textColorDim: #959595,
    primaryAccent: #573e3e,
    secondaryAccent: #436943,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
