@import './../../styles/themes';

.IconButton {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.IconButton-dashed {
  @include themify($themes) {
    border: 1px dashed themed(textColorDim)
  }
}

.IconButton-margin {
  margin: 1em auto;
}